<cfcomponent
        REST="true"
        RESTPATH="/rmm2Caching">


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Caching/user/123.{format}
    --->

    <cffunction name="getUser"
                access="remote"
                HTTPMETHO="GET"
                RESTPATH="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // CHECK CACHE
            if( cacheIdExists("user:#id#") )
            {
                var user = cacheGet("user:#id#");

                // RETURN CACHED ITEM
                var response = structNew();
                response.status = 200;
                response.content = user;
                restSetResponse( response );
            }
            else
            {
                //create user;
                var user = structNew();
                user.id = id;
                user.timestamp = now().getTime();

                //ADD TO CACHE
                cachePut("user:#id#" , user, createTimeSpan(0,1,0,0));

                var response = structNew();
                response.status = 200;
                response.content = user;
                restSetResponse( response );
            }

        </cfscript>
    </cffunction>



</cfcomponent>