<cfcomponent
        REST="true"
        RESTPATH="/rmm2Collection">


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Collection/products/search.{format}?q=
    --->

    <cffunction name="searchProducts"
                access="remote"
                HTTPMETHOD="GET"
                RESTPATH="/products/search">

        <cfargument name="q" type="string" restargsource="query"/>

        <cfscript>
            // query database for products
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Collection/products/exclusive.{format}
    --->

    <cffunction name="getAllExclusiveProducts"
                access="remote"
                HTTPMETHOD="GET"
                RESTPATH="/products/exclusive">

        <cfscript>
            // query database for exclusive products
        </cfscript>
    </cffunction>
</cfcomponent>