<cfcomponent
        REST="true"
        RESTPATH="/rmm2Crud">


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Crud/user/123.{format}
    --->

    <cffunction name="getUser"
                access="remote"
                HTTPMETHO="GET"
                RESTPATH="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            var user = structNew();
            user.id = id;
            return user;
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    POST: http://localhost:8500/rest/services/rmm2Crud/user/123.{format}
    --->

    <cffunction name="createUser"
                access="remote"
                HTTPMETHO="POST"
                RESTPATH="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // create user
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    PUT: http://localhost:8500/rest/services/rmm2Crud/user/123.{format}
    --->

    <cffunction name="updateUser"
                access="remote"
                HTTPMETHO="PUT"
                RESTPATH="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // update user
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    DELETE: http://localhost:8500/rest/services/rmm2Crud/user/123.{format}
    --->

    <cffunction name="deleteUser"
                access="remote"
                HTTPMETHO="DELETE"
                RESTPATH="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // delete user
        </cfscript>
    </cffunction>

</cfcomponent>