<cfcomponent
        REST="true"
        RESTPATH="/rmm2Etag">


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Etag/test/123.{format}
    --->
    <cffunction name="loadUser"
                access="remote"
                returntype="void"
                httpMethod="GET"
                restPath="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>


        <cfscript>
            var etag = hash( id  ); // should include rest path and url arguments
            if (cgi.http_if_none_match eq etag)
            {
                var response = structNew();
                response.status = 304;
                restSetResponse( response );
            }
            else
            {
                // set cache time
                var expires = (Now() + 10);
                var httpExpires = GetHTTPTimeString( expires );

                //create user;
                var user = structNew();
                user.id = id;
                user.timestamp = now().getTime();


                var response = structNew();
                response.status = 200;
                response.headers['etag'] = etag;
                response.headers['expires'] = httpExpires; //optional
                response.content = structNew();
                response.content['user'] = user;
                restSetResponse( response );
            }
        </cfscript>

    </cffunction>


</cfcomponent>