<cfcomponent
        rest="true"
        restPath="/rmm2Status">


    <!---
    URL ==========================================
    GET: http://localhost:8500/rest/services/rmm2Status/user/123.{format}
    --->

    <cffunction name="loadUser"
                access="remote"
                returntype="void"
                httpMethod="GET"
                restPath="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // create user
            var user = structNew();
            user.id = id;

            // return the response object
            var response = structNew();
            response.status = 200; // 200=Everything OK
            response.content = user;
            restSetResponse( response );
        </cfscript>

    </cffunction>



    <!---
    URL ==========================================
    POST: http://localhost:8500/rest/services/rmm2Status/user/123.{format}
    --->

    <cffunction name="createUser"
                access="remote"
                returntype="struct"
                httpMethod="POST"
                restPath="/user/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // todo create user

            // return the response object
            var response = structNew();
            response.status = 201; // 201=Item Created
            restSetResponse( response );
        </cfscript>
    </cffunction>



    <!---
    URL ==========================================
    POST: http://localhost:8500/rest/services/rmm2Status/user/123.{format}
      --->

    <cffunction name="createUserWithError"
                access="remote"
                returntype="Any"
                httpMethod="POST"
                restPath="/error1/{id}">

        <cfargument name="id" type="string" restargsource="path"/>

        <cfscript>
            // return the response object
            var response = structNew();
            response.status = 409; // 200=Everything OK
            response.content = "Conflict message";
            restSetResponse( response );
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    POST: http://localhost:8500/rest/services/rmm2Status/user/123.{format}
     --->
    <cffunction name="createUserWithConflict"
                access="remote"
                returntype="struct"
                httpMethod="POST"
                restPath="/error2/{id}">

        <cfargument name="id" type="string" restargsource="path"/>


        <cfscript>
            // create user
            var newUser = structNew();
            newUser.id = id;

            var oldUser = structNew();
            oldUser.id = id;

            // return the response object
            var response = structNew();
            response.status = 409; // 409=CONFLICT
            response.content = structNew();
            response.content.attempted = newUser;
            response.content.existing = oldUser;
            restSetResponse( response );
        </cfscript>

    </cffunction>


</cfcomponent>