<cfcomponent
        REST="true"
        RESTPATH="/userService">


    <!---
    URL ==========================================
    GET: http://localhost:8500/userService/user/123
    --->

    <cffunction name="getUser"
                access="remote"
                returntype="struct"
                HTTPMETHO="GET"
                RESTPATH="/user/{id}">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            var user = structNew();
            user.id = id;
            return user;
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    POST: http://localhost:8500/userService/user/123/CREATE
    --->

    <cffunction name="createUser"
                access="remote"
                returntype="struct"
                HTTPMETHO="POST"
                RESTPATH="/user/{id}/CREATE">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            // create user
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    POST: http://localhost:8500/userService/user/123/UPDATE
    --->

    <cffunction name="updateUser"
                access="remote"
                returntype="struct"
                HTTPMETHO="PUT"
                RESTPATH="/user/{id}/UPDATE">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            // update user
        </cfscript>
    </cffunction>


    <!---
    URL ==========================================
    POST: http://localhost:8500/userService/user/123/DELETE
    --->

    <cffunction name="deleteUser"
                access="remote"
                HTTPMETHO="DELETE"
                RESTPATH="/user/{id}/DELETE">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            // delete user
        </cfscript>
    </cffunction>

</cfcomponent>