<cfcomponent
        REST="true"
        RESTPATH="/userService">


    <!---
    URL ==========================================
    GET: http://localhost:8500/userService/user/123
    --->

    <cffunction name="getUser"
                access="remote"
                HTTPMETHO="GET"
                RESTPATH="/user/{id}">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            var user = structNew();
            user.id = id;
            return user;

            // Define HyperMedia Links
            var links = arrayNew();
            links[1] = structNew();
            links[1].rel = "self";
            links[1].href = "http://example.org/userService/user/123";

            links[2] = structNew();
            links[2].rel = "edit";
            links[2].href = "http://example.org/userService/user/123";

            links[3] = structNew();
            links[3].rel = "specifications";
            links[3].type = "applications/pdf";
            links[3].href = "http://example.org/userService/user/123/specifications";

            links[4] = structNew();
            links[4].rel = "/users/delete";
            links[4].href = "http://example.org/userService/user/123";

            // return the response object
            var response = structNew();
            response.status = 200; // 200=Everything OK
            response.content = structNew();
            response.content.DATA = user;
            response.content.LINKS = links;
            restSetResponse( response );
        </cfscript>
    </cffunction>



</cfcomponent>