<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<search>
    <total_results>83</total_results>
    <items_per_page>20</items_per_page>
    <start_index>1</start_index>
    <catalog_title>
        <studio>PARAMOUNT HOME ENTERTAINMENT</studio>
        <release_date>2008-11-17</release_date>
        <production_year>2008</production_year>
        <rating>4</rating>
        <can_rent>true</can_rent>
        <!-- truncated -->
    </catalog_title>


    <link href="http://openapi.lovefilm.com/catalog/title?start_index=1&amp;term=kung+fu"
          rel="self"
          title="self"/>
    <link href="http://openapi.lovefilm.com/catalog/title?start_index=21&amp;term=kung+fu"
          rel="next"
          title="next"/>
    <link href="http://openapi.lovefilm.com/catalog/title?start_index=81&amp;term=kung+fu"
          rel="last"
          title="last"/>
</search>