<cfcomponent
        REST="true"
        RESTPATH="/userService">


    <!---
    URL ==========================================
    PUT: http://localhost:8500/userService/user/123
    --->


    <cffunction name="getUser"
                access="remote"
                HTTPMETHO="PUT"
                RESTPATH="/user/{id}">

        <cfargument name="id" restargsource="path"/>

        <cfscript>
            // UPDATE USER

            // Send out a message to all clients that the user has be updated
            wsPublish("DemoChannel", "{'message':'USER_CREATED', 'id':'#id#'}");
        </cfscript>
    </cffunction>

</cfcomponent>